In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [69]:
df=pd.read_csv('Salaries.csv')
df.sample(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
84409,84410,Ermie S Barrientos,Asst Engr,98339.56,0.00,0.00,33247.66,98339.56,131587.22,2013,NaN,San Francisco,NaN
60727,60728,Liane Corrales,Inspector 3,37141.90,16186.35,15799.25,9597.99,69127.50,78725.49,2012,NaN,San Francisco,NaN
102594,102595,Tyrone D Hopper,Food Service Worker,16717.94,5031.22,745.41,9662.82,22494.57,32157.39,2013,NaN,San Francisco,NaN
99279,99280,Robert Allan I Maligaya,Police Officer,50913.30,0.00,0.00,18323.88,50913.30,69237.18,2013,NaN,San Francisco,NaN
123500,123501,Paul N Johnson,Transit Operator,63825.97,18058.36,7727.80,35277.35,89612.13,124889.48,2014,NaN,San Francisco,NaN
67403,67404,Jessica Woodard,Publ Svc Aide-Asst to Prof,13368.35,0.00,0.00,3737.12,13368.35,17105.47,2012,NaN,San Francisco,NaN
54826,54827,John Thurston,Window Cleaner,67945.77,0.00,1375.32,31364.89,69321.09,100685.98,2012,NaN,San Francisco,NaN
23211,23212,LAURA GRGICH,REGISTERED NURSE,48118.52,2439.75,3499.87,NaN,54058.14,54058.14,2011,NaN,San Francisco,NaN
67748,67749,Jose Gutierrez,Library Page,14116.54,0.00,231.10,1114.24,14347.64,15461.88,2012,NaN,San Francisco,NaN
26573,26574,LAMONT SUSLOW,POLICE OFFICER III,40993.81,0.00,0.00,NaN,40993.81,40993.81,2011,NaN,San Francisco,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [13]:
df['BasePay'].mean()

66325.4488404877

In [10]:
df['OvertimePay'].max()

245131.88

In [14]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [17]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [28]:
hperson=df['TotalPayBenefits'].idxmax()
df.iloc[hperson]['EmployeeName']

'NATHANIEL FORD'

In [29]:
lperson=df['TotalPayBenefits'].idxmin()
df.loc[lperson]['EmployeeName']

'Joe Lopez'

In [35]:
base_year=df[['Year','BasePay']]
base_year.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [38]:
df['JobTitle'].nunique()

2159

In [53]:
df['JobTitle'].value_counts().head()
# head will present 5 
# tottal jop title =148654

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [47]:
(df[df['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

In [48]:
(df[df['Year']==2014]['JobTitle'].value_counts()).sum()

38123

In [50]:
(df.groupby('EmployeeName')['TotalPayBenefits'].value_counts()).sum()

148654

In [51]:
df['TotalPay'].value_counts().sum()

148654

In [55]:
df['JobTitle'].apply(lambda str:('chief' in str.lower())).sum()

627

In [71]:
df['JobTitlelength']=df['JobTitle'].apply(len)
#df['JobTitlelength']

In [72]:
correlation=df['JobTitlelength'].corr(df['TotalPayBenefits'])
correlation

-0.036878445932606675